.gss-search-result-list {
  list-style-type: none;
  margin-left: 0px;
  clear: left; 
}

.gss-title {
  margin-top: 15px;
}

.gss-title-link {
  background: url(https://www.amsterdam.nl/views/core/images/sprites/sprite_bullets_small.png) no-repeat 0 -999px !important;
  font-family: 'Avenir LT Std 65 Medium',AvenirMedium,arial,sans-serif !important;
  font-size: 16px;
  font-weight: bold !important;
  margin: 5px 0 0 0 !important;
  padding-left: 15px !important;
  text-decoration: none;
}

.gss-snippet {
  font-size: 13px;
}

.gss-breadcrumb {
  color: #787878;
  margin-bottom: 10px;
  font-size: 10px;
}

.gss-pagers {
  margin-top: 20px;
}

.volgendeknop {
  font-family: 'Avenir LT W01 85 Heavy',arial,sans-serif;
  font-weight: normal;
  font-size: 1.273em;
  border: 0 none;
  background-color: transparent;
  background-image: url(https://www.amsterdam.nl/views/core/images/sprites/sprite_formbuttons.png);
  background-repeat: no-repeat;
  background-position: right 0;
  height: 28px;
  line-height: 28px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 37px;
  text-align: right;
}

.vorigeknop {
    font-family: 'Avenir LT W01 85 Heavy',arial,sans-serif;
    font-weight: normal;
    font-size: 1.273em;
    border: 0 none;
    background-image: url(https://www.amsterdam.nl/views/core/images/sprites/sprite_formbuttons.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 -500px;
    height: 28px;
    line-height: 28px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: right;
    padding-left: 38px;
    float: left;
}

#searchkeywordz {
  float: left;
  font-family: 'Avenir LT W01 85 Heavy','AvenirHeavy',arial,sans-serif;
  font-size: 1.5em;
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 1%;
  padding-right: 1%;
  width: 80%;
  margin-bottom: 20px; 
}

#bigsearchbutton {
    float: left;
    width: 9%;
    height: 52px;
    padding: 5px 0;
    margin-left: 10px;
    background-color: #ff0000;
    background-image: url(https://www.amsterdam.nl/views/core/images/pointers/big-go-white.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 0 none transparent;
    text-indent: -9999px;
    direction: ltr;
}
